;; constants
nil true false
;; not constants
nils Nil True ###Inf ##inf ##+Inf

;; strings
"a(b))c" ""
"([{)]} ;"
"multi
   line
string"
;; escapes
"\" \\ \' \r \n \b \t \f \377 \u221e \u221E"
;; incorrect strings
"\x \8 \u000 \u000g"

;; chars
\c \newline \\ \u221E \u221e \u2135 \o3 \o50 \o377 \а \] \) \} \" \' \; \,
;; not chars
\aa \u11 \o378 a\b \ (\aa)

;; comments
; single quote
"abc" ; after something
; "abc" ([{)]} ; ___
#_(abc) #_[123] #_xyz
(comment abc)

;; symbols
abc, a11 абв a-b
. * + ! - _ ? $ % & = < > .* -* +* ->> ?? $= a++ a: a:b a:b:c a# a#b a#b#c a' a'b -'
a/b .../... a1/b2 абв/где / -a +a .a
;; not symbols
a/ /b 1a -1a +1a .1a 'a k::v

;; keywords
:a :abc :a1 :1 :1a:a1: :абв
:. :* :+ :! :- :_ :? :$ :% :& := :< :> :.* :-* :+* :->> :?? :$= :a++ :a# :a#b :a#b#c
:a/b :.../... :a1/b2 :1/2 :абв/где :-a :+a :.a
;; not keywords
:kv/ :/kv :/ :::kv :k/:v :k/v/v ::kv ::k/v :k::v

;; integers
0 1 9 10 100 -0 -1 -100 +0 +1 +100 1234567890
0N 1N 9N 10N 100N -0N -1N -100N +0N +1N +100N 1234567890N
;; not integers
01 1n ++1 --1 +N -N

;; floats
0M 999M -0M +0M
0.0 0.000 999.999 1. -0.0 +0.0 -999.999 +999.999
0.0M 999.999M
0e1 0e+1 0e-1 0E1 0E+1 0E-1 999e999 999e+999 999e-999 999E999 999E+999 999E-999
-0e+1 +0E-1
0e1M 0e+1M 0e-1M 0E1M 0E+1M 0E-1M 999e999M 999e+999M 999e-999M 999E999M 999E+999M 999E-999M
1.2e3 444.555E+666 1.e3 -1.2e3 +444.555E+666 1.2e3M 444.555E+666M
##Inf ##-Inf ##NaN
;; not floats
00.0 1e2.3 1e 1.0e --1.0 ++1.0 +M -M 1m 

;; ratios
1/2 0/2 999/999 +1/2 -1/2
;; not ratios
1/0 00/2 0/01 ++0/2 --0/2

;; balancing
[]]
{}}}
())))
([)]))
{[(}])]}
{(["abc])}"])}
{[()]} ;; )]}
#{{)]}}}